
.work-img {
  height: 1.4rem;
  margin-top: -0.2rem;
  @media only screen and (min-width: $md) {
    height: 1.2rem;
  }
}

.work-m__bg {
  background-color: rgba($dark, 0.4);
  border-radius: 0.2rem;
  margin-right: 0.2rem;
  padding: 0.1rem;
  padding-right: 0.3rem;
  margin-top: 0.2rem;
  white-space: nowrap;
  position: relative!important;
  z-index: 5!important;
}

